POSTGRES_HOST: postgres
POSTGRES_PORT: 5432
POSTGRES_USER: postgres_usr
POSTGRES_PASSWORD: postgres_pw
POSTGRES_DB: transcendence

PGADMIN_DEFAULT_EMAIL=admin@pg.com
PGADMIN_DEFAULT_PASSWORD=admin

BACK_PORT=3001
HASH_SALT=10

JWT_SECRET=test
JWT_EXPIRATION_TIME=900

FT_OAUTH_CLIENT_ID=
FT_OAUTH_CLIENT_SECRET=
FT_OAUTH_CALLBACK_URL=http://localhost/
