*

!.gitignore
!LICENCE
!README.md

!Makefile
!docker-compose.yml
!.env

!cont/
!cont/front
!cont/back
!cont/front/*
!cont/back/*


!volumes/
!volumes/front
!volumes/back
!volumes/front/*
!volumes/back/*

