<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Transcendence confirmation mail</title>
</head>
<body>
  <h2>Hello {{username}}! </h2>
  <p> Once you clicked on the next verify button, you will have access to the app</p>
  <form action="http://c2r7p5:3001/log/verify" method="post">
  <button type="submit" name="code" value={{code}}>Verify</button>
  </form>
</body>
</html>
